@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary
  }

  h1 {
    @apply text-4xl font-extrabold
  }

  h2 {
    @apply text-2xl font-bold
  }

  h4 {
    @apply text-xl font-semibold
  }

  .table-cell-spacing td {
    padding-right: 3rem; 
  }

  .table-cell-spacing td:last-child {
    padding-right: 0;
  }

  .scaled-image {
    width: 60px;
    height: 60px;
    object-fit: contain; 
  }

  .showroom {
    width: 100%;
    max-width: 50rem; 
    height: auto;
    max-height: 30rem; 
    object-fit: contain;
  }
  
 
  @media (max-width: 768px) {
    .showroom {
      max-width: 40rem; 
      max-height: 24rem; 
    }
  }
  
  @media (max-width: 480px) {
    .showroom {
      max-width: 20rem; 
      max-height: 12rem; 
    }
  }
  
}